body {
	font-family: 'Imprima', sans-serif;
	background-color: #F5F5F5;
	
}
.container {
	margin-top: 10px;
}

@media only screen and (max-width:360px) {
 
 h2{
  font-size:small;
  }
  h3{
  font-size:x-small;
  }
  h4{
  font-size:xx-small;
  }

 .search-query{
	width:60px;
	}
}

@media only screen and (max-width:480px) and (min-width:360px){
 
 h2{
  font-size:medium;
  }
  h3{
  font-size:small;
  }
  h4{
  font-size:x-small;
  }
  .navbar .nav li a {
	text-align:center;
	font-size:x-small;
}
.search-query{
	width:20px;
	}
}

.navbar-header h2{
	border-radius: 10px;
	
}



#connexion {
	margin-top: 10px;
	height: 40px;
	border-radius: 10px;
	box-shadow: 2px 2px 6px #0c0;
	text-align:center;
}

#name{
	text-align: center;
	margin-top:10px;
	}
	
.comment {
	border:thin;
	border-style:solid;
	border-color:#bbb;
	padding: 10px;
	margin-top: 10px;
	border-radius: 10px;
	background-color:#ddd;
}



textarea {
	width:98%;
}


.navbar { 
    box-shadow: 2px 2px 6px #0cc;
    background-color:#ccc;
}

.navbar-default{
   
    padding-top:5px;
    font-size:large;
}

.navbar-default h2{
    text-align:center;
    vertical-align:middle;
}


.navbar-header{
    margin-left:15px;
    padding-top:5px;
    margin-right:15px;
    font-size:large;
    vertical-align:middle;
    	
}
thead tr {
	background: #add8e6;
}
tfoot tr {
	background: #add8e6;
}
.navbar-header a:hover{
	background-color:#00f;
	color:#fff;
}
.navbar-header a.actif{
	background-color:#f85;
	color:#fff
}

.well, .comment {
    box-shadow: 2px 2px 14px #999;
    min-width:300px;
}	
.navbar  .nav li a {
	font-size:medium;
}
.navbar  li a:hover {
	background-color::#ccc;
	color:#fff;
	box-shadow: 2px 2px 14px #555;
	-moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.navbar .nav  li a.actif {
	background-color:#558;
	color:#fff;
	box-shadow: 2px 2px 14px #555;
}
footer {
	min-height: 30px;
	text-align: center;
	padding-top: 10px;
}

table,td,th{
border:2px solid #0c0;
}

.topbar {
  height: 40px;
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow: visible;
}

.center-table
{
  margin: 0 auto !important;
  float: none !important;
}