.page-header{
  text-align: center;
}

body{
	color: black;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../img/wall.jpeg');
}

footer{	
	text-align: center;
}

.arrondi{
	border-radius: 5px;
	background-color: rgb(234,234,234);
	border-width: 1px;
	border-color: rgb(205,205,205);
	color: black;
}

.bouton{
  color: white;
  background-color: #318CE7;
}

.bouton:hover{
  background-color: #357AB7;
}

.alerteur {
  font-family: Arial;
  color: rgb(247,35,12);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.cadreMessage{
	color: rgb(53,118,196);
	display: inline-block;
	border-radius: 5px;
	background-color: rgb(242,242,242);
	border-width: 2px;
	border-style: solid;
	border-color: rgb(205,205,205);
	padding: 10px;
}

.blockMessage{
	width: 100%;
	display: inline-block;
	background-color: rgba(53,118,196,0.7);
	color: rgb(242,242,242);
	border-radius: 5px;
	border-width: 2px;
	margin-bottom: 10px;
	margin-top: 10px;
	border-color: #0266c8;
	border-style: solid;

}

.menucolor{
	background-color: rgb(115,176,185);
}

.decalageGauche{
	padding-left: 2%;
}

.aDroite{
	margin-left: 80%;
}

.memeLigne{
	display: inline-block;
}

.rouge{
	background-color: red;
}

.rouge:hover{
	background-color: #C72C48;
}

.titre{
	font-size: 25px;
}